/* Estilo escolha */
.container.mt-5 {
  height: 100vh; /* Ocupa 100% da altura da tela */
  width: 100vw;  /* Ocupa 100% da largura da tela */
 
  /* Configura a imagem de fundo */
  /* background-image: url('/static/img/home_bg1.jpg'); */
  background-size: cover; /* Faz com que a imagem cubra toda a tela */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat;

  /* Adiciona uma camada de cor com transparência */
  background-color: rgba(0, 0, 0, 0.3); /* Preto com 50% de opacidade */
  background-blend-mode: overlay; /* Mistura a cor e a imagem */
}


a {
    text-decoration: none;
  } 
.card-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
  
  .card1, .card2 {
    background-color: #ffffff29;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 700px;
    overflow: hidden;
  }
  
  .card1:hover, .card2:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo da imagem */
  .card1 img, .card2 img {
    width: 100%;
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* Estilo do conteúdo do card */
  .card-body {
    padding: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif; /* Definindo Nunito como fonte */
  }
  
  .card-body h5 {
    font-size: 1.5rem;
    font-weight: 700; /* Negrito para o título */
    color: #f8f9fa;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
  }
  
  .card-body p {
    font-size: 1rem;
    font-weight: 600; /* Peso normal para o texto */
    color: #f8f9fa;
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
  }
  
  /* Animação ao passar o mouse */
  .card1:hover img, .card2:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  .bg-light {
    --bs-bg-opacity: 100%;
  }

 /* Estilo para o botão dentro da div .logout-button */
.logout-button {
  text-align: center; /* Centraliza o conteúdo dentro da div */
  margin-top: 20px;
  margin-bottom: 1rem; /* Espaçamento abaixo da div */
}

.logout-button .btn {
  background-color: #dc5c31; /* Cor de fundo vermelha (classe btn-danger) */
  border: none; /* Remove a borda */
  color: #ffffff; /* Cor do texto em branco */
  font-size: 1.25rem; /* Tamanho da fonte */
  padding: 15px 50px; /* Espaçamento interno */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.logout-button .btn:hover {
  background-color: #c82333; /* Cor mais escura ao passar o mouse (efeito hover) */
}

.logout-button .btn:focus {
  outline: none; /* Remove o contorno ao focar no botão */
}

.text1 {
  text-align: center;
  font-size: 2em !important; 
  color: #fdfdfd;
  margin-bottom: 5px;
  display: block;
  margin-top: 100px;
}