{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <form action="{% url 'sigin' %}" method="POST" class="card card-body">
                
                <h1 class="text-center"></h1>

                <!-- Exibir mensagens
                {% if messages %}
                    <div>
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %} -->
                <div class="logo">
                    <img src="{% static 'img/sg2.jpg' %}" alt="logo">
                </div>

                <div class="mb-3">
                    <label for="username" class="form-label text-left">Usuário</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Digite seu nome de usuário">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite sua senha">
                </div>
                {% csrf_token %}
                <div class="d-grid mb-3">
                    
                </div>

                <!-- Adicionar botão de cadastro -->
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary">ACESSAR</button>
                    <a href="{% url 'sigup' %}" class="btn btn-primary2">CADASTRAR</a>
                </div>
            </form>
            <div class="text1"> 
            <h1 style="font-size: 60%;" > © Todos os direitos reservados - Senac 2024</h1>
            </div>
        </div>
    </div>
</main>

{% endblock %}
