{% extends 'base.html' %}
{% load static %}
<br>
<br>
{% block content%}

    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5"> 

                <form method="POST" class="card card-body">
                    {% csrf_token %}
                    <div class="logo">
                        <img src="{% static 'img/sg2.jpg' %}" alt="logo">
                    </div>
                    <h1 class="text-center"> Cadastre-se</h1> 
    
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
    
                    <div class="mb-3">
                        <label for="username" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
                    </div>
    
                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password1" name="password1">
                    </div>
    
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmar Senha</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
    
                    <!-- Colocar os botões lado a lado -->
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'sigin' %}" class="btn btn-outline-secondary">Voltar</a>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                    
                </form>
            </div>
        </div>
    </main>
    
{% endblock %}
