{% extends 'base.html' %}
<br>
<br>
{% block content%}

    <main class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-5">    
                
                <form method="POST" class="card card-body">
                    {% csrf_token %}
                    <h1 class="text-center"> Cadastre-se</h1> 
    
                    {% if error_message %}
                        <div class="alert alert-danger" role="alert">
                            {{ error_message }}
                        </div>
                    {% endif %}
    
                    <div class="mb-3">
                        <label for="username" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="username" aria-describedby="emailHelp" name="username">
                        <!-- <div id="emailHelp" class="form-text">Nós nunca compartilharemos seu e-mail com ninguém.</div> -->
                    </div>
    
                    <div class="mb-3">
                        <label for="password1" class="form-label">Senha</label>
                        <input type="password" class="form-control" id="password1" name="password1">
                    </div>
    
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirmar Senha</label>
                        <input type="password" class="form-control" id="password2" name="password2">
                    </div>
    
                    <!-- <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Lembre de mim</label>
                    </div> -->
    
                    <button type="submit" class="btn btn-primary">ENVIAR</button>
                </form>
            </div>
        </div>
    </main>
    
{% endblock %}