{% extends 'base_estoque.html' %}
{% load static %}

{% block content %}
<main class="container mt-4">
    <h2>Lista de Saídas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Alimento</th>
                <th>Quantidade</th>
                <th>Peso</th>
                <th>Validade</th>
            </tr>
        </thead>
        <tbody>
            {% for saida in saidas %}
            <tr>
                <td>{{ saida.alimento.nome }}</td>
                <td>{{ saida.quantidade }}</td>
                <td>{{ saida.peso }}</td>
                <td>{{ saida.validade }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4" class="text-center">Nenhuma saída registrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'alimento_list' %}" class="btn btn-primary">Voltar</a>
</main>
{% endblock %}
