/* Estilos Globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: rgba(0, 0, 0, 0.7); /* Fundo preto translúcido */
  color: #f8f9fa; /* Para garantir contraste no texto */
  overflow-x: hidden; /* Evita rolagem horizontal indesejada */
}

/* Classes de Conteúdo Principal */
.home, .home-bg {
  min-height: 100vh;
  width: 100%;
}

.home {
  background: url(/static/img/home_bg.jpg) no-repeat center center;
  background-size: cover;
}

.home-bg {
  background-image: url('/static/img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
}

.container {
  max-width: 100%;
  padding: 20px;
}

/* Imagens e Logo */
img, .logo, svg {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

.logo {
  height: auto;
}

/* Ajuste dos Botões e Menus */
.sidebar {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  flex-basis: 250px;
  height: 100%;
}

.sidebar .btn {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: background-color 0.3s ease;
}

.sidebar .btn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Ajuste de Formulários */
.form-control, .form-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 1rem;
}

.card {
  background-color: #000000c7;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Tabelas */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.table th, .table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table-light {
  background-color: #f8f9fa;
}

/* Media Queries para Responsividade */
@media (max-width: 992px) {
  .sidebar {
    width: 200px;
  }

  .card {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .home, .sidebar {
    width: 100%;
    flex-basis: auto;
    height: auto;
  }

  .sidebar .btn {
    padding: 10px;
  }

  .card {
    padding: 10px;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .home {
    padding: 5px;
  }

  .card {
    padding: 10px;
  }

  .sidebar {
    padding: 10px;
    border-radius: 0;
  }

  .sidebar .btn {
    font-size: 0.9rem;
    padding: 8px;
  }

  .container {
    padding: 5px;
  }

  .card-body {
    font-size: 0.9rem;
  }
}
